# Meta layer dependencies should be installed in this directory
# Implementation dependencies should be installed in the implementation directory

# Limit scope of the meta package to avoid accidental installation in implementation
save-prefix=~
